@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-image: url(/assets/fondo.jpg);
  background-size: cover;
  }

h4{
  font-weight: 800;
}

.btn-generar{
  font-weight: bold;
  background-color: #cc8f66;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-generar:hover {
  background-color: #b44f06;
}

form#classForm button[type="submit"].btn {
  width: 100%;
}

.banner-selector{
  border: 3px solid #cc8f66 !important;
  border-radius: 15px !important;
}
.banner-footer{
  border: 2px solid #cc8f66 !important;
  border-radius: 15px !important;
}

